.dropdown {
  width: calc(100% - 40px);
  margin: auto;
  list-style: none;
  padding: 20px 0;
  ul {
    margin: 20px 0;
  }
  h4 {
    padding: 7px;
    height: 30px;
    font-size: 13px;
    background: $mainColor;
    color: white;
  }

  li {
    padding: 10px;
    width: 100%;
    color: $mainColor;
    background: #f7f7f7;
  }
}
