.dropdown {
  width: 100%;
  margin: auto;
  list-style: none;
  padding: 20px 0;
  @include lg-screen-media {
    width: calc(100% - );
  }
  ul {
    margin: 20px 0;
  }
  h4 {
    position: relative;
    border-radius: 10px;
    padding: 7px; 
    height: 30px;
    font-size: 13px;
    background: $mainColor;
    color: white;
    font-weight: 500;
  }

  li {
    padding: 7px;
    color: $mainColor;
    background: #f7f7f7;
    font-weight: 400;
    font-size: 12px;
  }
}

.open {
  position: absolute;
  right: 10px;
  top: 10px;
  content: url("../../assets/img/arrow.svg");
  transform: rotate(180deg);
}

.closed {
  position: absolute;
  right: 10px;
  top: 10px;
  content: url("../../assets/img/arrow.svg");
}