.dropdown {
    width: calc(100% - 40px);
    margin: auto;
    list-style: none;
  ul {
    padding: 20px;
  }
  h4 {
    font-size: 13px;
    background: $mainColor;
    color: white;
  }

  li {
      width: 100%;
    color: $mainColor;
    background: #f7f7f7;
  }
}
