.dropdown {
  width: calc(100% - 40px);
  margin: auto;
  list-style: none;
  ul {
    margin: 20px 0;
  }
  h4 {
    position: relative;
    border-radius: 10px;
    padding: 7px;
    height: 30px;
    font-size: 13px;
    background: $mainColor;
    color: white;
  }

  li {
    padding: 7px;
    width: 100%;
    color: $mainColor;
    background: #f7f7f7;
  }
}

.open {
  position: absolute;
  right: 10px;
  top: 10px;
  content: url("../../assets/img/arrow.svg");
  transform: rotate(180deg);
}

.closed {
  position: absolute;
  right: 10px;
  top: 10px;
  content: url("../../assets/img/arrow.svg");
}