.housingDropdowns {
  width: 100%;
  @include lg-screen-media {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 20px 0;
  }
}
#about .dropdown {
  width: calc(100% - 40px);

  @include lg-screen-media {
    width: calc(100% - 400px);
  }
}

ul {
  flex-wrap: wrap;
  margin: 20px auto;
  width: 100%;
  h4 {
    margin:auto;
    border-radius: 5px;
    position: relative;
    border-radius: 5px;
    padding: 7px;
    height: 30px;
    font-size: 13px;
    background: $mainColor;
    color: white;
    font-weight: 500;
    &.about {
        width: calc(100% - 40px);
      }
    @include lg-screen-media {
      &:first-of {
        margin-right: 76px;
      }
      border-radius: 10px;
      font-size: 24px;
      height: 47px;
      padding: 10px;
      
    }
  }
  li {
    list-style: none;
    padding: 7px;
    color: $mainColor;
    background: #f7f7f7;
    font-weight: 400;
    font-size: 12px;
    @include lg-screen-media {
      margin: auto;
      width: calc(100% - 400px);
      font-size: 24px;
    }
  }
}

.open {
  position: absolute;
  right: 10px;
  top: 10px;
  content: url("../../assets/img/arrow.svg");
  transform: rotate(180deg);
}

.closed {
  position: absolute;
  right: 10px;
  top: 10px;
  content: url("../../assets/img/arrow.svg");
}
