footer {
    margin: auto;
    display: block;
    text-align: center;
    width: calc(100% - 40px);
    height: 209px;
    bottom: 0;
    background: #000;
    img {
        margin: 62px auto 34px auto;
    }
    p {
        font-size: 12px;
        @include lg-screen-media {
            font-size ;24px
        }
    }
}