.header {
    flex-shrink: 0;
    order : 1;
    margin: 0 20px;
    position: relative;
    height: 47px;
    @include lg-screen-media {
        margin: 0 100px;
        height: 68px;
        img {
            width: 210px;
            height: 68px;
        }
    }
}