p {
  margin: 20px;
  color: $mainColor;
  font-size: 18px;
  font-weight: 500;
}

span {
  font-size: 14px;
  font-weight: 500;
  color: $mainColor;
  &.host {
      margin: 20px;
      color: black;
  }
}
