main {
  .tags {
    baccolor: $mainColor;
  }
  .host {
      display: flex;
    span {
      color: $mainColor;
    }
  }

  p {
    margin: 20px;
    color: $mainColor;
    font-size: 18px;
    font-weight: 500;
  }
}
