main {
  .tags {
    background-color: $mainColor;
    border-radius: 5px;
    height: 18px;
    font-size: 10px;
    margin-right: 10px;
    padding: 2px;
    font-family: "Montserrat";
  }
  .host {
      display: flex;
      align-items: center;
      img {
          width: 32px;
          border-radius: 50%;
      }
    span {
        font-size: 12px;
      color: $mainColor;
    }
  }

  p {
    margin: 20px;
    color: $mainColor;
    font-size: 18px;
    font-weight: 500;
  }
}
