main {
  .tags {
    background-color: $mainColor;
    border-radius: 5px;
    height: 18px;
    width: 84px;
    font-size: 10px;
  }
  .host {
      display: flex;
    span {
      color: $mainColor;
    }
  }

  p {
    margin: 20px;
    color: $mainColor;
    font-size: 18px;
    font-weight: 500;
  }
}
