.main-nav {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  justify-content: flex-end;
  height: 47px;
  @include lg-screen-media {
    height: 68px;
  }

  > * {
    &:first-child {
      margin-right: 10px;
      @include lg-screen-media {
        margin-right: 57px;
      }
    }

    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    padding: 17px 0;
    color: $mainColor;
    @include lg-screen-media
    &:hover {
      text-decoration: underline;
    }
  }
}
