
.slider {
    figure {
        position: relative;
        max-width: 335px;
        mheight: 255px;
        img {
            position: absolute;
            max-width: 355px;
            max-height: 255px;
            width: 100%;
            height: 100%;
        }
    }
    color : red;
}

.previous {
    color : red;
}
.next {
    color : red;
}