.slider {
  position: relative;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 335px;
  height: 255px;
  .previous {
    z-index: 100;
    opacity: 1;

    position: absolute;
    transform: rotate(90deg);
    left: 0;
    width: 20px;
    height: 11px;
    margin: 20px;
  }
  img {
    opacity : 0;
    position: absolute;
    width: 335px;
    height: 255px;
    &.isActive {
    opacity : 1;
}
  }
  .next {
      opacity: 1;
    position: absolute;
    transform: rotate(-90deg);
    right: 0;
    width: 20px;
    height: 11px;
    margin: 20px;
  }
}

