
.slider {
    figure {
        position: relative;
        width: 335px;
        
        img {
            position: absolute;
        }
    }
    color : red;
}

.previous {
    color : red;
}
.next {
    color : red;
}