.slider {
  position: relative;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
  width: 335px;
  height: 255px;
  @include lg-screen-media {
      width: calc(100% - 200px);
      width: 1240px;
      height: 415px;
  }

  .previous {
    z-index: 100;
    opacity: 1;
    position: absolute;
    left: 0;
    transform: rotate(90deg);
    width: 20px;
    height: 100%;
    @include lg-screen-media {
      transform: rotate(180deg);
      width: 47px;
      height: 80px;
      top: 50%;
    }
  }
  img {
    border-radius: 10px;
    opacity: 0;
    position: absolute;
    width: 335px;
    height: 255px;
    @include lg-screen-media {
      object-fit: cover;
      width: 1240px;
      height: 415px;
    }
    &.isActive {
      opacity: 1;
    }
  }
  .next {
    z-index: 100;
    opacity: 1;
    position: absolute;
    right: 0;
    width: 20px;
    height: 100%;
    @include lg-screen-media {
      width: 47px;
      height: 80px;
    }
  }
}