
.slider {
    figure {
        position: relative;
        width: 335px;
        height: 255px;
        img {
            position: absolute;
            maw-width: 355px;
            height: 255px;
        }
    }
    color : red;
}

.previous {
    color : red;
}
.next {
    color : red;
}