.slider {
  position: relative;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 335px;
  max-height: 255px;
  width: 335px;
  height: 100%;
  img {
    position: absolute;
    margin: 20px;
    width: 335px;
    height: 255px;
  }
  .previous {
    position: absolute;
    transform: rotate(90deg);
    left: 0;
    width: 20px;
    height: 11px;
    margin: 20px;
  }
  .next {
    position: absolute;
    transform: rotate(-90deg);
    right: 0;
    width: 20px;
    height: 11px;
    margin: 20px;
  }
}
