.bgbanner {
  z-index: 1;
  display: block;
  position: relative;
  background-color: black;
  margin: 0 100px;
  max-width: 1240px;
  max-height: 223px;
  border-radius: 10px;
  width: 100%;
  height: 223px;
  margin-top: 171px;
  top: 0;
  left: 0;



  .banner {
    position: absolute;
  }

  figcaption {
    z-index: 100;
    text-align: center;
    padding: 112px;
  }

}
