.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 43px auto;
  border-radius: 10px;
  width: calc(100% - 200px);
  background: #f6f6f6;

  .card {
    margin: 50px;
    max-width: 340px;
    max-height: 340px;
    background-color: $mainColor;
    color: #fff;
  }
}
