.gallery {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 43px auto;
  border-radius: 10px;
  width: calc(100% - 200px);
  background: #f6f6f6;
  padding: 50px;
  justify-content: flex-start;
  align-items: flex-end;

  .logement-picture {
    position: relative;
    display: flex;
    border-radius: 10px;
    width: 340px;
    height: 340px;
  }

  .card-caption {
    position: absolute;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
  }
}
