.gallery {
    position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 43px auto;
//   border-radius: 10px;
  width: calc(100% - 200px);
  background: #f6f6f6;
  padding: 50px;
  justify-content: flex-start;
  align-items: flex-end;

  .logement-picture {
 
    display: flex;
    margin-bottom: 50px;
    max-width: 340px;
    width: 340px;
    max-height: 340px;
    height: 340px;
    border-radius: 10px;
  }

  .card-caption {
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
  }
}
