.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 43px auto;
  border-radius: 10px;
  width: calc(100% - 200px);
  background: #f6f6f6;
  padding: 50px;

  .card {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
    max-width: 340px;
    width: 100%;
    max-height: 340px;
    height: 340px;
    border-radius: 10px;
    background-color: $mainColor;
    color: #fff;
    padding:20px;
  }
}
