$breakpoints: (
        mobile: 375px,
        lg-: 1920px,
);

@mixin mobile-media {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

@mixin desktop-media {
  @media screen and (min-width: 1440px) and (max-width: map-get($breakpoints, desktop)) {
    @content;
  }
}