$breakpoints: (
        mobile: 375px,
        lg-screen: 1920px,
);

@mixin mobile-media {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

@mixin lg-screen-media {
  @media screen and (min-width: 376px) and (max-width: map-get($breakpoints, lg-screen)) {
    @content;
  }
}